<!DOCTYPE html> 
<html> 
<head> 
	<title>CSV Predictor</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
	<script defer src="{{url_for('static',filename='dist/js/livetable.js')}}"></script>
	<script defer src="{{url_for('static',filename='dist/js/loading.js')}}"></script>
</head> 
<body class="bg-slate-800 text-stone-200">
	<div class="flex items-center flex-col max-h-screen" id="pre_submit">
		<form class="w-fit pt-3" action="/tools" method="POST" enctype="multipart/form-data">
			<div class="select-none w-fit px-1.5 py-0.5 m-1 bg-sky-800 hover:bg-sky-700 active:shadow-none active:mt-[5px] cursor-pointer border-b-2 border-slate-900 active:border-b-0 active:mb-[5px]">
				<label for="csv_file">Select a file</label>
				<input onchange="readCSVFile()" class="m-0 w-0 h-0 hidden" type="file" id="csv_file" name="file">
			</div>
			<label class="m-1" for="target_column">Select target column:</label><br> 
			<input class="px-1.5 py-0.5 m-1 bg-slate-900 text-amber-300 shadow-black shadow-inner" value="0" type="number" id="target_column" name="target_column"><br>
			<input class="select-none px-1.5 py-0.5 m-1 bg-sky-800 hover:bg-sky-700 active:shadow-none active:mt-[5px] border-b-2 border-slate-900 active:border-b-0 active:mb-[5px]" onclick="showLoading()" type="submit" value="Create Model"> 
		</form>
		<div id="live_table_div" class="mt-5 bg-slate-900 text-amber-300 shadow-black shadow-inner hidden overflow-scroll max-w-full">
			<table class="m-6 max-w-screen" id="live_table">
	
			</table>
		</div>
	</div>
	<div class="flex m-5 items-center hidden flex-col" id="post_submit">
		<div class="animate-spin w-8 h-8 bg-slate-900 rounded-full border-t-4 border-r-4 border-l-2 border-amber-300 border-r-slate-900"></div>
		<div>
			<span> Training model...</span>
			<p>Depending on the file size, this could take a while.</p>
		</div>
	</div>
</body> 
</html>