<!DOCTYPE html> 
<html> 
<head> 
	<title>CSV Predictor</title>
	<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head> 
<body> 
	<form action="/predict" method="POST" enctype="multipart/form-data"> 
		<label for="csv_file">Select a CSV file:</label><br> 
		<input type="file" id="csv_file" name="file"><br> 
		<label for="target_column">Select target column:</label><br> 
		<input type="number" id="target_column" name="target_column"><br><br> 
		<input type="submit" value="Create Model"> 
	</form> 
</body> 
</html>